@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'vazir';
  src: url('../public/assets/Vazir-Medium.ttf');
}

*{
  font-family: 'vazir';
}

body {
  
  direction: rtl;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding:  0 20px;
  height: 100vh;
}
